<div class="row signup-section w-90 m-auto mt-5">
  <div class="col-md-6">
    <%= link_to image_tag("img2.jpg", class: "img-responsive center-block") %>
  </div>
  <div class="col-md-5 signup-form">
    <div>
    <h1 class="signup-title">Create New account</h1>
    <h3>It's quick and easy.</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field inputs ">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"inputs" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class: "inputs" %>
        </div>

        <div class="field inputs">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "inputs" %>
        </div>

        <div class="field inputs">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "inputs"%>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Sign Up", class: "btn btn-success submit-button" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
