<div align="center" class="container-fluid">
  <h1>Friends</h1>
  <% @users.each do |user| %>
  <% if user != current_user && !current_user.received_requests(user) %>
    <div align="left" class="row user-info">
      <div class="col-md-8 user-gravatar">
        <%= gravatar_for(current_user, 120) %>
        <div class="user-name">
          <b>Name:</b>
          <%= user.name %>
        </div>

        <div class="user-email">
          <b>Email:</b>
          <%= user.email %>
        </div>
      </div>
      <%= render partial: 'shared/friendship', locals: {user: user} %>
    </div>
  <% end %>
  <% end %>
  <%= will_paginate %>
</div>
