<main class="container-fluid">
  <div class="row col-12 m-0">
  </div>
  <div class="row">
    <div class="col-md-3 profile-section text-center">
      <h1>
        <%= gravatar_for(current_user, 150)  %>
        <%= current_user.name%>
      </h1>
    </div>

    <div class="col-md-6 bg-success new-post">
      <div class="row create-post">
        <%= form_for @post do |f| %>
        <%= f.text_area :body, class: 'form-control', placeholder: "What's in your mind?"%><br>

        <%= f.submit "Post", class: "btn btn-primary btn-md pull-right" %>
        <span class="picture">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </span>
        <script type="text/javascript">
          $('#post_picture').bind('change', function() {
            var size_in_megabytes = this.files[0].size/1024/1024;
            if (size_in_megabytes > 5) {
              alert('Maximum file size is 5MB. Please choose a smaller file.');
            }
          });
        </script>

      <% end %>
    </div>

    <% @user_posts.each do |post| %>
      <div class="col-md-12 post">
        <%= render partial: 'shared/post', locals: {post: post} %>
      </div>
    <%end %>
  </div>

  <div class="col-md-2 ads-section">
    <h1>Ads Section</h1>
  </div>
</div>
</main>
