<main class="">
  <div class="row">
    <div class="col-md-3 profile-section">
      <h1>User Profile Section</h1>
      <p><b>User Details:</b> <%= @user.name %></p>
    </div>

    <div class="col-md-6 bg-success new-post">
      <div class="row">
        <%= form_for @post do |f| %>
            <%= f.text_area :body, class: 'form-control', placeholder: "What's in your mind?"%><br>

            <%= f.submit "Post", class: "btn btn-primary btn-md pull-right" %>
        <% end %>
      </div>

      <% @user_posts.each do |post| %>
        <div class="row post">
          <div class="col-md-12">
              <div class="well well-lg">
                <div class="post-user">
                  <small>
                    Author: <strong><%= link_to post.user.name, users_path(post.user)%></strong>,
                     <%= time_ago_in_words(post.created_at) %> ago.
                  </small>
                </div>

                <div class="post-body">
                  <%= post.body %>
                </div>
                  </div>
                <div class=" col-md-6 comment-like">
                  <%= render partial: 'shared/like', locals: {post: post} %>
                  <div align="center"><%= link_to "Comment", post_path(post) %></div>
                </div>

           </div>
          </div>
        <%end %>
      </div>



    <div class="col-md-2 ads-section">
      <h1>Ads Section</h1>
    </div>
  </div>
</main>
