<main class="container-fluid">
  <div class="row">
    <div class="col-md-3 profile-section text-center">
      <h3>User Profile</h3>
      <h1>
        <%= gravatar_for(current_user, 150)  %>
        <%= current_user.name%>
      </h1>
    </div>

    <div class="col-md-6 bg-success new-post">
      <div class="row create-post">
        <%= form_for @post do |f| %>
        <%= f.text_area :body, class: 'form-control', placeholder: "What's in your mind?"%><br>

        <%= f.submit "Post", class: "btn btn-primary btn-md pull-right" %>
      <% end %>
    </div>

    <% @user_posts.each do |post| %>
      <div class="row post">
        <div class="col-md-12">
          <div class="well post-container">
            <div class="post-user">
              <small>
                <b>Author:</b>
                <strong><%= link_to post.user.name, user_path(post.user)%></strong>,
                <%= time_ago_in_words(post.created_at) %> ago.
              </small>
            </div>

            <div class="post-body">
              <%= post.body %>
            </div>
          </div>
          <%= render partial: 'shared/like_comment', locals: {post: post} %>
        </div>
      </div>
    <%end %>
  </div>

  <div class="col-md-2 ads-section">
    <h1>Ads Section</h1>
  </div>
</div>
</main>
