<div class="like">
	<% if current_user.likes?(@post) %>
		<%= form_for(current_user.likes.find_by(post_id: @post.id),
								 method: :delete) do |f| %>
			<div><%= hidden_field_tag :post_id, @post.id %></div>
			<%= f.submit "Unlike (#{@post.likes.count})", class: 'btn btn-sm btn-primary' %>
		<% end %>
	<% else %>
		<%= form_for(current_user.likes.build) do |f| %>
			<div><%= hidden_field_tag :post_id, @post.id %></div>
			<%= f.submit "Like (#{@post.likes.count})", class: 'btn btn-sm btn-primary' %>
		<% end %>
	<% end %>
</div>
