
<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "Facebook", root_path, id: "logo" %>
    <% if signed_in? %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Posts", posts_path %></li>
          <li class="notification-icon"><%= link_to(content_tag( :i, nil, class: 'fa fa-bell notification-bell' ), friendships_path) %>
            <% if current_user.friend_requests.count.positive? %>
              <span class="notification-sign text-center"><%= current_user.friend_requests.count %></span>
            <% end %>
          </li>
          <li><%= link_to "Friends", users_path %></li>

          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions
              <span class="caret"></span></a>

            <ul class="dropdown-menu">

              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>

              <li>
                <a href="#">Separated link</a>
              </li>

              <li role="separator" class="divider"></li>

            </ul>

          </li>
        </ul>
      </nav>
        <% else %>
        <nav >
          <ul class="navbar-right align-self-center login-form">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <% f.options[:html][:class] += ' form-inline my-2 my-lg-0' %>
            <div class="form-group mr-2">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group mr-2">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="my-2 my-sm-0 signin-btn">Sign in</button>
          <% end %>
          </ul>
        </nav>
        <% end %>
  </div>
</header>
