<div class="container-fluid">
  <h2>Friend Requests Received</h2>
  <% @received_friendships.each do |received_friendship| %>
    <div align="left" class="row user-info">
      <div class="col-md-8 user-gravatar">
        <%= gravatar_for(received_friendship.user, 120) %>
        <div class="user-name">
          <b>Name:</b>
          <%= received_friendship.user.name %>
        </div>

        <div class="user-email">
          <b>Email:</b>
          <%= received_friendship.user.email %>
        </div>
        </div>
        <div>
          <%= link_to 'Accept Request',{:controller => "friendships",:friendship_id => received_friendship.id, :action => "accept_request"} , :method=>:post, class: 'btn btn-sm btn-success' %>
          <%= link_to 'Cancel Request', friendship_path(received_friendship), class: 'btn btn-sm btn-danger', method: :delete %>
        </div>
    </div>
  <% end %>
</div>
