<main class="">
  <div class="row">
    <div class="col-md-3 profile-section">
      <h1>User Profile Section</h1>
      <p><b>Current User:</b> <%= current_user.name %></p>
    </div>

    <div class="col-md-6 bg-success new-post">
      <div class="row">
        <%= form_for @post do |f| %>
            <p>Hello <%= current_user.name %> !</p>
            <%= f.text_area :body, class: 'form-control', placeholder: "What's in your mind?"%><br>

            <%= f.submit "Post", class: "btn btn-primary btn-lg pull-right" %>
        <% end %>
      </div>

      <% @posts.each do |post| %>
        <div class="row post">
          <div class="col-md-12">
              <div class="well well-lg">
                <div class="post-user">
                  <small>
                    Author: <strong><%= post.user.name %>  </strong>,
                     <%= time_ago_in_words(post.created_at) %> ago.
                  </small>
                </div>

                <div class="post-body">
                  <%= post.body %>
                </div>
              </div>
                <div class="comment-like">
                  <%= render partial: 'shared/like', locals: {post: post} %>
                  <div align="center" class="col-md-6"><%= link_to "Comment", post_path(post) %></div>
                </div>
            </div>

          </div>
        <%end %>
      </div>



    <div class="col-md-2 ads-section">
      <h1>Ads Section</h1>
    </div>
  </div>
</main>
